@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.hidescrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidescrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.showscrollbar::-webkit-scrollbar{
    display: block;
    -ms-overflow-style: block;
    /* IE and Edge */
    scrollbar-width: block;
    /* Firefox */
}